.navWrapper {
    z-index: 3;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    .navLeft{
        flex: 1;
        display: flex;
    }
    .navLeft{
        flex: 1;
    }
    .navCenter{
        flex: 1;
    }
    .navRight{
        flex:1;
        display: flex;
    }
    .navItem {
        position: relative;
        width: 150px;
        margin-right: 30px;
        cursor: pointer;
        .navName {
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #05BBEC;
        }
        .navActive {
            background: url(./nav_active.png) center center no-repeat;
            background-size: contain;
        }
        .navfont{
            text-align: center;
        }
        .navBg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background: url(./nav.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .innerItemBox {
            display: block;
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            height: 0;
            overflow: hidden;
            border-radius: 4px;
            background-color: rgba(0,0,0, .7);
            transition: all .2s;
            .innerItem {
                height: 26px;
                margin: 2px 0;
                line-height: 26px;
                text-align: center;
                &:hover {
                    color: #05BBEC;
                }
            }
        }
    }
}