html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 16px;
    /* -webkit-tap-highlight-color: rgba(255,0,0,0); */
    /* font-smoothing: antialiased; */
}

* {
    box-sizing: border-box;
}

p {
    margin: 0 !important;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
#content {
    width: 100%;
    height: 100%;
    color: #f1f1fb;
}
.router-appear {
    opacity: 0;
    transition: all 3s ease;
}

.router-appear.router-appear-active {
    opacity: 1;
}

.router-enter {
    opacity: 0;
    transition: all 3s ease;
}

.router-enter.router-enter-active {
    opacity: 1;
}

.router-leave {
    opacity: 0;
    transition: all 3s ease;
}

.router-leave.router-leave-active {
    opacity: 1;
}

::-ms-clear {
    display: none;
}

.scrollBar::-webkit-scrollbar, ::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
    margin-right: -10px;
}

.scrollBar::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
    background: #00eaff;
}

.scrollBar::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
    border-radius: 10px;
    background: #1d67ac;
}

.ant-select-dropdown-menu-item-disabled:hover {
    color: #ccc;
}

:global(.ant-message-notice-content) {
    background: #343a52;
    color: #dcdce6;
    margin-top: 60px;
}

:global(.ant-modal-content) {
    background: #343a52;
}

:global(.ant-modal-confirm-body .ant-modal-confirm-title) {
    color: #dcdce6;
}

.MarkerTitle {
    color: #ffffff;
    position: relative;
    left: -40%;
    bottom: 15px;
    top: 45px;
    &:hover {
        display: block;
    }
}