.phaseConfigBox {
  color: white;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  .phaseConfigBox_top {
    color: #5f9fdc;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    .phaseConfigBoxTop_left {
      float: left;
      height: 100%;
      line-height: 45px;
    }
    .phaseConfigBoxTop_right {
      float: right;
      width: 20px;
      height: 20px;
      margin-top: 12px;
      text-align: center;
      line-height: 20px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: rotate(-180deg);
      }
    }
  }
  .phaseConfigBox_center {
    position: relative;
    height: 36px;
    display: flex;
    align-items: center;
    .faultType {
      padding-left: 20px;
      :global(.ant-select-selection) {
        width: 128px;
        background-color: transparent;
        border: 1px solid rgba(14, 51, 85, 0.8);
        outline: none;
        color: #f1f1fb;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      :global(.ant-select-arrow) {
        color: #f1f1fb;
      }
    }
    .phaseConfigBoxCenter_left {
      position: absolute;
      right: 20px;
      width: 70px;
      height: 26px;
      text-align: center;
      line-height: 26px;
      background-color: #22467a;
      color: #2cb3e3;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  .phaseConfigBox_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .mountingThead {
      font-size: 13px;
      height: 32px;
      background-color: #2b5391;
      color: #2cb3e3;
      display: flex;
    }
    .mountingTr {
      height: 40px;
      display: flex;
    }
    .mountingTh,
    .mountingTd {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mountingcar {
      flex: 3;
    }
    .deviceMsg {
      flex: 1;
      display: flex;
      color: white;
      padding: 1px 5px;
      span {
        cursor: pointer;
        border-radius: 2px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .mountingTr:nth-child(odd) {
      background-color: rgba(14, 50, 98, 0.7);
    }
    .mountingTr:nth-child(even) {
      background-color: rgba(43, 83, 145, 0.7);
    }
    .mountingTbody {
      // height: calc(100% - 50px);
      flex: 1;
      overflow-y: auto;
    }
  }
}
