$fc-colorAll: #5f9fdc; // 全部字体颜色
$fc-color: #2bd3f4; // 个别单独颜色
$fontAll_color:#CCD8DF;// 全局颜色
.speciaTaskBox {
  color: $fontAll_color;
  width: 100%;
  height: 100%;
  background-color: #021035;
  display: flex;
  flex-direction: column;
}
.speciaContainer {
  height: calc(100% - 100px);
  position: absolute;
  width: 100%;
  top: 100px;
  display: flex;
  .swipers {
    position: absolute;
    left: 20px;
    bottom: 40px;
    .chartsType {
      width: 80px;
      height: 30px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 30px;
      border-radius: 3px;
      background-color: #002e4f;
      cursor: pointer;
    }
  }
  .speciaContainer_left {
    padding-top: 10px;
    width: 361px;
    height: calc(100% - 255px);
    flex-direction: column;
    display: flex;
    .speciaContainer_left_top {
      padding-left: 20px;
      height: 40px;
    }
    .speciaContainer_left_bom {
      background: linear-gradient(to bottom, rgba(29, 64, 113, 0.9), rgba(21, 46, 83, 0.9));
      flex: 1;
      overflow-y: auto;
      div {
        float: left;
        width: 160px;
        height: 155px;
        background-color: #ccc;
        margin: 0 0 10px 20px;
      }
    }
  }
  .speciaContainer_center {
    flex: 1;
    height: 75px;
    margin: 10px 20px 0;
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    background: rgba(24, 46, 83, 0.9);
    .speciaContainer_center_top {
      font-weight: bold;
      flex: 2.2;
      color: $fc-colorAll;
      font-size: 20px;
      display: flex;
      align-items: center;
    }
    .speciaContainer_center_bom {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 0;
      li {
        margin-right: 20px;
      }
      span {
        color: #28C8E1;
      }
    }
  }
  .speciaContainer_right {
    width: 441px;
    display: flex;
    flex-direction: column;
    .speciaContainer_right_one {
      flex: 1;
    }
    .speciaContainer_right_two {
      flex: 1.9;
      display: flex;
      flex-direction: column;
      background: rgba(24, 46, 83, 0.9);
      >p:nth-child(1) {
        font-size: 18px;
        line-height: 30px;
        color: $fc-colorAll;
        height: 30px;
        padding-left: 10px;
        background-color: rgba(2,16,53,.9);
        span {
          font-size: 12px;
        }
      }
      p:nth-child(2) {
        line-height: 25px;
        color: #db0500;
        height: 25px;
        padding-left: 10px;
      }
      .speciaContainerLB_canvas {
        overflow: hidden;
        flex: 3;
        display: flex;
        div {
          flex: 1;
        }
        .speciaContainerLB_left,
        .speciaContainerLB_right {
          position: relative;
          span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 3px;
          }
        }
      }
      .speciaContainerLB_list {
        flex: 3;
      }
      .speciaContainerLB_bom {
        flex: 1;
        color: $fc-colorAll;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .spanOne {
          margin-right: 10px;
        }
        .spans {
          color: $fc-colorAll;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
          background-color: #254A7F;
        }
        .spans:nth-child(1) {
          padding: 5px 12px;
          margin: 0 4px 0;
        }
      }
    }
    .speciaContainer_right_tre {
      flex: 1.4;
      display: flex;
      flex-direction: column;
      p {
        color: $fc-colorAll;
        font-size: 18px;
        line-height: 30px;
        height: 30px;
      }
      ul {
        height: 30px;
        display: flex;
        padding-top: 5px;
        justify-content: center;
        align-items: center;
        li {
          flex: 1;
          text-align: center;
          padding: 3px 0;
          margin: 0 8px;
          border: 1px solid #087c96;
          cursor: pointer;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          color: $fc-colorAll;
          background-color: #254A7F;
          span {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 5px;
          }
        }
      }
      div {
        flex: 1;
      }
    }
  }
  .optimizeMessage {
    position: absolute;
    bottom: 0;
    left: 110px;
    height: 360px;
    width: calc(100% - 620px);
    z-index: 99;
    background:rgba(29, 64, 113, 0.9);
    font-size: 14px;
  }
  .swiperRig {
    position: fixed;
    bottom: 10px;
    left: 130px;
    width: calc(100% - 600px);
    height: 240px;
    padding: 0 35px;
    display: flex;
    flex-wrap: wrap;
    .swiperRig_left,
    .swiperRig_right {
      position: absolute;
      top: 70px;
      width: 25px;
      height: 100px;
      background: linear-gradient(to bottom, rgba(29, 64, 113, 0.9), rgba(21, 46, 83, 0.9));
      font-size: 30px;
      text-align: center;
      line-height: 100px;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.2s;
      :global(path) {
        color: $fc-colorAll;
      }
      &:hover {
        background-color: rgba(2, 133, 238, 0.8);
      }
    }
    .swiperRig_left {
      left: 0;
      & > span {
        margin-left: -4px;
      }
    }
    .swiperRig_right {
      right: 0;
    }
    .swiperBox {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      overflow: hidden;
      .swiperList {
        position: absolute;
        top: 0;
        display: flex;
        height: 100%;
        .swiperItems {
          width: 220px;
          height: 100%;
          padding: 10px 10px 0 10px;
          // margin-right: 10px;
          font-size: 13px;
          .swiperItemsBox {
            color: $fc-colorAll;
          }
          & > p {
            height: 20px;
            line-height: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .videoBox {
            height: calc(100% - 50px);
            background-color: #ccc;
          }
        }
      }
    }
  }
}
.active {
  background-color: #08899f !important;
}
.speciaContainer_left {
  input::-webkit-input-placeholder {
    color: $fc-colorAll;
  }
  :global(.ant-select .ant-select-enabled) {
    flex: 1;
  }
  :global(.ant-select-selection) {
    color: $fc-colorAll;
    height: 31px;
    background-color: #023052;
    border: 1px solid #1d425f;
  }
  :global(path) {
    color: $fc-colorAll;
  }

  :global(.ant-input-affix-wrapper .ant-input) {
    color: $fc-colorAll;
    background-color: #023052;
    border: 1px solid #1d425f;
  }
  :global(.ant-input-search) {
    flex: 2;
    height: 31px;
  }
}
:global(.ant-carousel .slick-slide) {
  text-align: center;
  height: 235px;
  line-height: 235px;
  background: #364d79;
  overflow: hidden;
}
:global(.ant-carousel .slick-slide h3) {
  color: #fff;
}
.speciaContainerLB_bom {
  :global(.ant-select) {
    height: 30px;
  }
  :global(.ant-select-selection) {
    color: $fc-colorAll;
    height: 30px;
    line-height: 30px;
    background-color: #023052;
    border: 1px solid #1d425f;
  }
  :global(.ant-select-selection--single .ant-select-selection__rendered) {
    height: 30px;
    line-height: 30px;
  }
  :global(path) {
    color: $fc-colorAll;
  }
}
