$bg-color: linear-gradient(to bottom, rgba(29, 64, 113, 0.9), rgba(21, 46, 83, 0.9));
$ft_color: #62bbff;
.InterManagementWrapper {
  width: 100%;
  height: 100%;
  background-color: #021035;
  display: flex;
  flex-direction: column;
}
.contextMenu {
  width: 150px;
  height: 50px;
  position: absolute;
  z-index: 9;
  margin: 0;
  background-color: #0d1133;
  border: 1px solid #55f9ff;
  left: 95px;
  li {
    height: 25px;
    margin: 0;
    line-height: 25px;
    padding-left: 15px;
    cursor: pointer;
    &:hover {
      background-color: rgba(103, 186, 202, 0.6);
    }
  }
}
.interMonitorBox {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 350px;
  height: calc(100% - 100px);
  z-index: 9;
  background: $bg-color;
  transition: all 0.3s;
  .interListBox {
    position: relative;
    padding: 10px 0;
    z-index: 9;
    .interList {
      position: absolute;
      top: 45px;
      left: 0;
      width: 100%;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.8);
      transition: all 0.2s;
      overflow-y: hidden;
      .interItem {
        height: 30px;
        padding-left: 10px;
        font-size: 14px;
        line-height: 30px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
          background-color: #06234f;
        }
      }
    }
    .interSearch {
      display: flex;
      justify-content: center;
      .searchBox {
        position: relative;
        .searchInput {
          width: 310px;
          height: 32px;
          padding-left: 5px;
          background-color: rgba(28, 64, 114, 0.8);
          border: 1px solid #224b7b;
          border-radius: 4px;
          outline: none;
          color: $ft_color;
        }
        .searchIcon {
          position: absolute;
          right: 10px;
          top: 8px;
          font-size: 18px;
          color: #07bdfb;
          cursor: pointer;
        }
      }
    }
  }
  .hideIcon {
    position: absolute;
    right: -20px;
    top: 5px;
    width: 20px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
    color: #f1f1fb;
    cursor: pointer;
  }
  .title {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    color: $ft_color;
    font-size: 16px;
    background-color: rgba(19, 41, 82, 0.6);
  }
  .OptimizingBtns {
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-left: 20px;
    width: 310px;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #22467a;
    color: #62bbff;
    font-weight: bold;
  }
  .addtask {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 7%;
    left: 0;
    span {
      padding: 10px 65px;
      cursor: pointer;
      background-color: #22467a;
      color: #60b5f1;
      border-radius: 3px;
    }
  }
  .treeBox {
    padding-left: 20px;
    height: calc(100% - 260px);
    overflow: auto;
  }
}

.searchBox {
  :global(.ant-input-affix-wrapper .ant-input) {
    color: $ft_color;
    background-color: #023052;
    border: 1px solid #1d425f;
  }
  :global(path) {
    color: $ft_color;
  }
  input::-webkit-input-placeholder {
    color: $ft_color;
  }
}
