.InterManagementWrapper {
    width: 100%;
    height: 100%;
    background-color: #021035;
    display: flex;
    flex-direction: column;
  }
  .contextMenu{
    width: 150px;
    height: 50px;
    position: absolute;
    z-index: 9;
    margin: 0;
    background-color: #0d1133;
    border:1px solid #55f9ff;
    left: 95px;
    li{
      height: 25px;
      margin: 0;
      line-height: 25px;
      padding-left: 15px;
      cursor: pointer;
      &:hover{
        background-color: rgba(103,186,202,.6);
      }
    }
  }
  .interMonitorBox {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 350px;
    height: calc(100% - 100px);
    z-index: 9;
    padding: 0 20px;
    background-color: rgba(6, 35, 79, 0.8);
    transition: all 0.3s;
    .hideIcon {
      position: absolute;
      right: -20px;
      top: 5px;
      width: 20px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      font-size: 24px;
      color: #f1f1fb;
      cursor: pointer;
    }
    .title {
      position: relative;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      color: #f1f1fb;
      font-size: 16px;
      background-color: #02183d;
    }
    .searchBox{
        margin: 15px 0;
    }
    .OptimizingBtns {
      height: 38px;
      line-height: 38px;
      text-align: center;
      font-size: 16px;
      margin-bottom: 10px;
      border-radius: 3px;
      cursor: pointer;
      color: white;
      font-weight: bold;
      background-color: #018da8;
    }
    .addtask{
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        bottom:7%;
        left: 0;
        span{
          padding: 5px 65px;
          cursor: pointer;
          border: 1px solid #00A8C2;
          border-radius: 15px;
        }
    }
    .treeBox{
        height: calc(100% - 260px);
        overflow: auto;
    }
  }
  
  .searchBox {
    :global(.ant-input-affix-wrapper .ant-input) {
      color: white;
      background-color: #023052;
      border: 1px solid #1d425f;
    }
    :global(path) {
      color: white;
    }
  }
  