:global(.ant-modal-content) {
  background-color: #343a52!important;
  :global(.ant-modal-confirm-body .ant-modal-confirm-title){
    color:#fff;
  }
}
  // 遮罩层// 浮层效果
  .MaskBox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;  
    background:rgba(0,9,40,.8)
  }

  .title{
    line-height: 55px;
    height: 55px;
    padding-left:25px;
    background:url(./img/titlebg.png) no-repeat;
    background-size: contain;
    text-align:left;
    font-size:18px;
  }
  .titleSmall{
    width: 100%;
    height:35px;
    line-height:35px;
    background:linear-gradient(#031329, #08326a);
    padding-left:20px;
    font-size: 14px;
    position: relative;
    > em{
      line-height:20px;
      font-style: normal;
      background:#1086ff;
      padding:2px 15px;
      position: absolute;
      right:10px;
      top:5.5px;
      cursor: pointer;
    }
    .saveLine{
      position: absolute;
      top:-40px;
      right:10px;
    }
  }
  .Close {
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer;
    color: #2d81ad;
    & svg:hover {
      transition: all 0.5s;
      transform: rotate(180deg);
      color: #26ff6d;
    }
  }
  .roadCrossing{
    width: 300px;
    height: 60px;
    position: absolute; 
    left: 50%; 
    top:50%; 
    transform: translate(-50%, -50%);
    .Close{
      top:10px;
      right:10px;
    }
  }
  
  .crossingCon{
    background:linear-gradient(rgba(0,9,40,.9), rgba(0,0,0,.8));
    padding:35px 0 10px;
    .searchBox {
      margin:0 50px 35px;
      position: relative;
      .searchInput {
          width: 224px;
          height: 32px;
          padding-left: 5px;
          background-color: rgba(6,56,90, .8);
          border: 1px solid #063657;
          border-radius: 4px;
          outline: none;
          color: #F1F1FB;
      }
      .searchIcon {
          position: absolute;
          right: 10px;
          top: 8px;
          font-size: 18px;
          color: #07BDFB;
          cursor: pointer;
      }
    }
    .btnRoadCrossing{
      line-height:20px;
      font-style: normal;
      background:#1086ff;
      width:80px;
      margin:15px auto;
      text-align:center;
      cursor:pointer;
    }
      .interList {
        position: absolute;
        top: 106px;
        left: 48px;
        right: 48px;
        border-radius: 4px;
        background-color: rgba(0,0,0, .4);
        transition: all .2s;
        overflow-y: hidden;
        z-index: 99;
        .interItem {
          height: 30px;
          padding-left: 10px;
          font-size: 14px;
          line-height: 30px;
          transition: all .2s;
          cursor: pointer;
          &:hover {
            background-color: #06234F;
          }
        }
      }
  }
  .secretTaskBox{
    position: absolute;
    top:10%;
    right:10%;
    bottom:10%;
    left:10%;
    .secretTaskCon{
      background:linear-gradient(rgba(0,9,40,.9), rgba(0,0,0,.4));
      display:flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 1%;
      padding:0 0 10px;
      .conTop{
        width:96%;
        height:35px;
        margin:8px 0;
        display: flex;
        .formBox {
          flex: 1;
          display: flex;
          margin-right: 20px;
          align-items: center;
          > span {
            text-align: center;
            color: #92d1db;
            font-size: 14px;
          }
          input {
            flex: 1;
          }
          :global(.ant-input) {
            background-color: #06385b;
            color: white;
            outline: none;
            border: none;
          }
          :global(.ant-calendar-picker-icon) {
            color: white;
          }
          &:first-child{
            flex:.5;
          }
          &:last-child{
            flex:.8;
          }
        }
      }
      .conLeft{
        width:calc(60% + 30px);
        border:rgba(0,255,255,.2) 1px solid;
        .conLeftBox{
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          max-height:680px;
          overflow-y: auto;
          .leftItem{
            width:48%;
            margin:5px 5px 5px 10px;
            background: #03193e;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            .itemTit{
              height:25px;
              line-height:25px;
              padding-left:20px;
              font-size: 12px;
              color:#36af2c;
              position: relative;
              .Close{
                top:7px;
                right: 8px;
              }
            }
            .itemCon{
              width:98%;
              margin:0 auto 3px;
              padding:6px;
              display: flex;
              background:linear-gradient(rgba(0,9,40,.9), rgba(0,0,0,.4));
              justify-content: space-around;
              .imgBox{
                flex:1;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                position:relative;
                .imgBgPic{
                  width:200px;
                  height:200px;
                }
                .typeStatus{
                  font-size:14px;
                  position:absolute;
                  left:5px;
                  bottom:5px;
                  background:rgb(181, 181, 181);
                  color:red;
                  padding:5px 15px;
                }
                .dirItem{
                  width:60px;
                  height:60px;
                  line-height:60px;
                  text-align: center;
                  margin:0 4px 35px 10px;
                  position: relative;
                  box-shadow: inset 5px 5px 5px rgba(0,255,255,.6),
                  inset -5px -5px 5px rgba(0,255,255,.6);
                  border-radius: 10px;
                  -webkit-border-radius: 10px;
                  -moz-border-radius: 10px;
                  -ms-border-radius: 10px;
                  -o-border-radius: 10px;
                  >b{
                    width:60px;
                    line-height:35px;
                    height:35px;
                    text-align: center;
                    font-weight: lighter;
                    position: absolute;
                    bottom: -35px;
                    left:0;
                    white-space:nowrap; 
                    overflow:hidden; 
                    text-overflow:ellipsis
                  }
                  >img{
                    width: 40px;
                    height: 40px;
                  }
                }
                &:last-child{
                  flex:2;
                }
              }
            }
            .formBox {
              flex: 1;
              display: flex;
              margin:6px 20px;
              align-items: center;
              position: relative;
              > span {
                text-align: center;
                color: #92d1db;
                font-size: 14px;
              }
              > em{
                line-height:20px;
                font-style: normal;
                background:#1086ff;
                padding:0 20px;
                position: absolute;
                right:10px;
                top:5.5px;
                cursor: pointer;
              }
              :global(.ant-select) {
                width: 120px;
                height: 25px;
              }
              :global(.ant-select-selection) {
                color: white;
                height: 25px;
                line-height: 25px;
                background-color: #023052;
                border: 1px solid #1d425f;
              }
              :global(.ant-select-selection--single .ant-select-selection__rendered) {
                height: 25px;
                line-height: 25px;
              }
              :global(path) {
                color: white;
              }
            }
          }
        }
      }
      .conRight{
        display: flex;
        width:calc(38.5% - 30px);
        height: auto;
        border:rgba(0,255,255,.2) 1px solid;
        flex-wrap: wrap;
        .itemTit{
          display: flex;
          width:100%;
          height:35px;
          line-height:35px;
          padding-left:20px;
          font-size: 12px;
          color:#fff;
          position: relative;
          > em{
            line-height:20px;
            font-style: normal;
            background:#1086ff;
            padding:2px 15px;
            position: absolute;
            right:10px;
            top:5.5px;
            color:#fff;
            cursor: pointer;
          }
        }
        .itemCon{
          width:98%;
          margin:0 auto 3px;
          padding:6px;
          background:linear-gradient(rgba(0,9,40,.9), rgba(0,0,0,.4));
          .conRightBox{
            max-height:598px;
            overflow-y: auto;
          }
          .listItem{
            padding:6px 0;
            display: flex;
            justify-content: center;
            align-items: center;  
            background:#1086ff;          
            > s{
              text-decoration: none;
              text-align: center;
              flex:1;
              >img{
                width:40px;
                height:40px;
                margin-right:8px;
              }
              >span{
                padding: 5px 15px;
                background: #06385b;
                color:#fff;
                cursor: pointer;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
}
            }
            &:nth-child(odd){
              background: #2d81ad;
            }
          }
          .listTit{
            background: none!important;
          }
        }
      }
    }
  }
.secretTaskWrapper {
  width: 100%;
  height: 100%;
  background-color: #021035;
  display: flex;
  flex-direction: column;
}
.contextMenu{
  width: 150px;
  height: 50px;
  position: absolute;
  z-index: 9;
  margin: 0;
  background-color: #0d1133;
  border:1px solid #55f9ff;
  left: 95px;
  li{
    height: 25px;
    margin: 0;
    line-height: 25px;
    padding-left: 15px;
    cursor: pointer;
    &:hover{
      background-color: rgba(103,186,202,.6);
    }
  }
}
.interSysBox {
  z-index: 9;
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 270px;
  height: 70px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  background-color: #011F53;
  .systemPoint {
    display: flex;
    & > div {
        position: relative;
        height: 30px;
        flex: 1;
        display: flex;
        align-items: center;
        .upIconBox {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            & > i {
                position: absolute;
                bottom: 4px;
                left: -2px;
                width: 20px;
                border-top: 1px solid #02F5F7;
            }
            & > b {
                position: absolute;
                top: 8px;
                left: 1px;
                width: 14px;
                height: 14px;
                border-top: 1px solid #02F5F7;
                border-right: 1px solid #02F5F7;
                transform: rotate(-45deg);
            }
        }
        .squareBox {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            border: 1px solid #02F5F7;
        }
        .circleBox {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            border: 1px solid #02F5F7;
            border-radius: 50%;
        }
        .checkeBox {
            margin-left: 5px;
        }
    }
  }
}
.interMonitorBox {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 350px;
  height: calc(100% - 100px);
  z-index: 9;
  padding: 0 20px;
  background-color: rgba(6, 35, 79, 0.8);
  transition: all 0.3s;
  .hideIcon {
    position: absolute;
    right: -20px;
    top: 5px;
    width: 20px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
    color: #f1f1fb;
    cursor: pointer;
  }
  .title {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    color: #f1f1fb;
    font-size: 16px;
    background-color: #02183d;
  }
  .searchBox {
    margin:15px 0;
    position: relative;
    .searchInput {
        width: 224px;
        height: 32px;
        padding-left: 5px;
        background-color: rgba(6,56,90, .8);
        border: 1px solid #063657;
        border-radius: 4px;
        outline: none;
        color: #F1F1FB;
    }
    .searchIcon {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 18px;
        color: #07BDFB;
        cursor: pointer;
    }
  }
    .interList {
      position: absolute;
      top: 88px;
      left: 18px;
      right: 18px;
      border-radius: 4px;
      background-color: rgba(0,0,0, .4);
      transition: all .2s;
      overflow-y: hidden;
      z-index: 99;
      .interItem {
        height: 30px;
        padding-left: 10px;
        font-size: 14px;
        line-height: 30px;
        transition: all .2s;
        cursor: pointer;
        &:hover {
          background-color: #06234F;
        }
      }
    }
    .interSearch {
      display: flex;
      .searchBox {
          position: relative;
          .searchInput {
              width: 224px;
              height: 32px;
              padding-left: 5px;
              background-color: rgba(6,56,90, .8);
              border: 1px solid #063657;
              border-radius: 4px;
              outline: none;
              color: #F1F1FB;
          }
          .searchIcon {
              position: absolute;
              right: 10px;
              top: 8px;
              font-size: 18px;
              color: #07BDFB;
              cursor: pointer;
          }
      }
    }
  
  
  .OptimizingBtns {
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #018da8;
  }
  .addtask{
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      position: absolute;
      bottom:7%;
      left: 0;
      span{
        padding: 5px 65px;
        cursor: pointer;
        border: 1px solid #00A8C2;
        border-radius: 15px;
      }
  }
  .treeBox{
      height: calc(100% - 260px);
      overflow: auto;
  }
}

.searchBox {
  :global(.ant-input-affix-wrapper .ant-input) {
    color: white;
    background-color: #023052;
    border: 1px solid #1d425f;
  }
  :global(path) {
    color: white;
  }
}
.PanelItemNone {
  width:100%;
  height: 45px;
  line-height: 45px;
  margin: 10px auto;
  text-align: center;
  text-indent: 22px;
  color: #446b92;
  font-size: 16px;
}
