$bg-color: linear-gradient(to bottom, rgba(29, 64, 113, 0.9), rgba(21, 46, 83, 0.9));
$ft_color: #62bbff;
.ModalPageWrapperBox {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    .ModalPageWrapper {
        width: 720px;
        height: 633px;
        background: $bg-color;
        position: absolute;
        font-size: 15px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        margin: auto;
    }
}
.mountingTable {
    width: 640px;
    height: 500px;
    margin: 20px 0 0 25px;
    .mountingThead {
        font-size: 12px;
        height: 35px;
        color: #95edf4;
        display: flex;
    }
    .boxers {
        max-height: 365px;
        overflow: auto;
        span {
            color: white;
            cursor: pointer;
            padding: 4px 30px;
            background: #ff8a8a;
            border-radius: 4px;
        }
        input {
            height: 80%;
            width: 80%;
            outline: none;
            border: none;
            border-radius: 5px;
        }
        select {
            height: 80%;
            width: 80%;
            outline: none;
            border-radius: 5px;
        }
    }
    .mountingTr {
        margin: 5px;
        display: flex;
        justify-content: center;
        > span {
            width: 100px;
            height: 100%;
            text-align: center;
            line-height: 35px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #05bbec;
        }
    }
    .mountingTrx {
        height: 60px !important;
    }
    .mountingTdx {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mountingTds {
        height: 64px;
        div:nth-child(2) {
            div:nth-child(2) {
                height: 105px;
                width: 100%;
            }
        }
    }
    .PrimitiveBacimg {
        padding: 20px;
        img {
            max-width: 80px;
            max-height: 60px;
            cursor: pointer;
        }
    }
    .fontstyle {
        line-height: 35px;
        justify-content: start !important;
        li {
            width: 135px;
            display: flex;
            justify-content: center;
            b {
                font-weight: normal;
                background-color: #22467a;
                color: #60b5f1;
                display: inline-block;
                width: 80px;
                height: 100%;
                text-align: center;
                height: 30px;
                line-height: 30px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .mountingTd {
        flex: 1;
        display: flex;
        .angle {
            flex: 0.8 !important;
        }
        > div {
            &:first-child {
                width: 135px;
                display: flex;
                justify-content: center;
                align-items: center;
                > span {
                    color: red;
                    padding-right: 4px;
                }
            }
            &:last-child {
                flex: 1;
                overflow-y: auto;
                > span {
                    color: red;
                    padding-right: 4px;
                }
            }
        }
        .boxtd {
            height: 60px !important;
            :global(.ant-select-selection--multiple) {
                height: 60px;
            }
        }
    }
    .mountingTbody {
        // height: calc(100% - 50px);
        overflow-y: auto;
    }
    .mountingTableBottom {
        height: 40px;
        position: absolute;
        bottom: 20px;
        right: 0;
        span {
            border-radius: 5px;
            margin-right: 15px;
            cursor: pointer;
            float: right;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #22467a;
            color: #60b5f1;
            font-weight: normal;
            b {
                height: 100%;
            }
        }
    }
    :global(.anticon-close-circle) {
        display: none;
    }
    :global(.ant-input) {
        height: 30px;
    }
    :global(.ant-radio-wrapper) {
        color: white;
    }
    :global(.anticon-close-circle) {
        display: none;
    }
    :global(.ant-select-selection) {
        color: white;
        background: rgba(0, 0, 0, 0);
        border: 1px solid #1d425f;
        // white-space:nowrap;
        // overflow:hidden;
    }
    :global(.ant-input) {
        color: white;
        height: 30px;
        background: rgba(0, 0, 0, 0);
        border: 1px solid #1d425f;
    }
    :global(.ant-select-arrow) {
        color: white;
    }
}
:global(.ant-select-dropdown) {
    // top: 313px!important;
    // left: 765px!important;
}
