.mountingTable {
  height: 100%;
  background: rgba(24, 46, 83, 0.9);
  .mountingThead {
    font-size: 12px;
    height: 30px;
    color: #95edf4;
    display: flex;
  }
  .mountingTr {
    height: 30px;
    display: flex;
  }
  .mountingThead {
    background-color: #2b5391;
  }
  .mountingTh,
  .mountingTd {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deviceMsg {
    margin-right: 20px;
    color: #07a8ff;
  }
  // .mountingTr:nth-child(odd) {
  //   background-color: rgba(14, 50 ,98, .7);
  // }
  .mountingTr:nth-child(even) {
    background-color: #2b5391;
  }
  .mountingTbody {
    // height: calc(100% - 50px);
    overflow-y: auto;
  }
}
