.InterManagementWrapper {
    width: 100%;
    height: 100%;
    background-color: #021035;
    display: flex;
    flex-direction: column;
  }
  .contextMenu{
    width: 150px;
    height: 50px;
    position: absolute;
    z-index: 9999;
    margin: 0;
    background-color: #0d1133;
    border:1px solid #55f9ff;
    left: 95px;
    li{
      height: 25px;
      margin: 0;
      line-height: 25px;
      padding-left: 15px;
      cursor: pointer;
      &:hover{
        background-color: rgba(103,186,202,.6);
      }
    }
  }
  .interMonitorBox {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 350px;
    height: calc(100% - 100px);
    z-index: 9;
    padding: 0 20px;
    background-color: rgba(6, 35, 79, 0.8);
    transition: all 0.3s;
    .interListBox {
      position: relative;
      padding: 10px 0;
      z-index: 9;
      .interList {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        border-radius: 4px;
        background-color: rgba(0,0,0, .8);
        transition: all .2s;
        overflow-y: hidden;
        .interItem {
          height: 30px;
          padding-left: 10px;
          font-size: 14px;
          line-height: 30px;
          transition: all .2s;
          cursor: pointer;
          &:hover {
            background-color: #06234F;
          }
        }
      }
      .interSearch {
        display: flex;
        .searchBox {
            position: relative;
            .searchInput {
                width: 310px;
                height: 32px;
                padding-left: 5px;
                background-color: rgba(6,56,90, .8);
                border: 1px solid #063657;
                border-radius: 4px;
                outline: none;
                color: #F1F1FB;
            }
            .searchIcon {
                position: absolute;
                right: 10px;
                top: 8px;
                font-size: 18px;
                color: #07BDFB;
                cursor: pointer;
            }
        }
      }
    }
    .hideIcon {
      position: absolute;
      right: -20px;
      top: 5px;
      width: 20px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      font-size: 24px;
      color: #f1f1fb;
      cursor: pointer;
    }
    .title {
      position: relative;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      color: #f1f1fb;
      font-size: 16px;
      background-color: #02183d;
    }
    .OptimizingBtns {
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 15px;
      margin-bottom: 10px;
      border-radius: 3px;
      cursor: pointer;
      color: white;
      font-weight: bold;
      background-color: #018da8;
    }
    .treeBox{
        height: calc(100% - 260px);
        overflow: auto;
    }
  }
  
  .searchBox {
    :global(.ant-input-affix-wrapper .ant-input) {
      color: white;
      background-color: #023052;
      border: 1px solid #1d425f;
    }
    :global(path) {
      color: white;
    }
  }
  