
.optimizeMessage_top {
  position: relative;
  height: 40px;
  font-size: 14px;
  padding: 0 10px 0 20px;
  display: flex;
  margin-top: 10px;
  color: #62BBFF;
  .optimizeMessage_top_left {
    display: flex;
    align-items: center;
    overflow: auto;
    .msgItem {
      width: 100px;
      text-align: right;
    }
  }
  .optimizeMessage_top_center {
    display: flex;
    align-items: center;
    .msgItem {
      width: 100px;
      text-align: right;
    }
  }
  .optimizeMessage_top_right {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 0;
    font-size: 18px;
    color: #22ced0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    &:hover {
      transform: rotate(-180deg);
    }
  }
}
.chartsTitle {
  font-size: 15px;
  color: #03cb47;
}
.chartsSearch {
  height: 45px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  color: #62bbff;
  font-size: 14px;
  .divs{
    width: 100px;
    text-align: right;
  }
  .searchBtn {
    width: 80px;
    height: 32px;
    margin-left: 15px;
    text-align: center;
    line-height: 32px;
    border-radius: 3px;
    color: #f1f1fb;
    cursor: pointer;
  }
  .searchActive {
    color: #5F9FDC;
    background-color: #254A7F;
  }
}
.lineChartsBox {
  width: 100%;
  
}
.optimizeMessage_top,.chartsSearch {
  :global(.ant-calendar-picker) {
    width: 110px;
    height: 30px;
  }
  :global(.ant-calendar-picker-icon) {
    display: none;
  }
  :global(.ant-calendar-picker-clear) {
    display: none;
  }
  :global(.ant-input) {
    background-color: #03406c;
    border: 1px solid #5f9fdc;;
    color: #f1f1fb;
  }
  :global(.ant-select-selection__rendered) {
    line-height: 28px;
  }
  :global(.ant-select-selection) {
    background-color: #03406c;
    color: #f1f1fb;
    border: 1px solid #5f9fdc;
    box-shadow: none;
    display: flex;
    align-items: center;
  }
  :global(.ant-select-arrow) {
    color: #f1f1fb;
  }
  :global(.ant-select-selection--multiple .ant-select-selection__choice) {
    color: #f1f1fb;
    background-color: transparent;
    border: none;
    margin-top: 2px;
  }
  :global(.ant-select-selection__choice__remove) {
    color: #46a7c6;
  }
}
