.areaOptWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.areaOptContainer {
  height: calc(100% - 100px);
  position: absolute;
  width: 100%;
  top: 100px;
  .interTreeBox {
    width: 360px;
    height: 100%;
    padding: 10px 0 0 30px;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 360;
    display: flex;
    flex-direction: column;
    background-color: rgba(2,24,61,.7);
    .interSearch {
      display: flex;
      :global(.ant-select-selection) {
        width: 100px;
        background-color: #063657;
        border: 1px solid #063657;
        outline: none;
        color: #f1f1fb;
        box-shadow: none;
      }
      :global(.ant-select-arrow) {
        color: #f1f1fb;
      }
      .searchBox {
        position: relative;
        .searchInput {
          width: 200px;
          height: 32px;
          padding-left: 5px;
          margin-left: 10px;
          background-color: #063657;
          border: 1px solid #063657;
          border-radius: 4px;
          outline: none;
          color: #f1f1fb;
        }
        .searchIcon {
          position: absolute;
          right: 10px;
          top: 8px;
          font-size: 18px;
          color: #07bdfb;
          cursor: pointer;
        }
      }
    }
    .interTree {
      height: calc(100% - 40px);
      overflow-y: auto;
    }
  }
  .signaContainer_center {
    height: 160px;
    width: 240px;
    position: absolute;
    top: 20px;
    right: 450px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(2,24,61,.7);
    display: flex;
    flex-direction: column;
    z-index: 9;
    li {
      flex: 1;
      display: flex;
      align-items: center;
    }
    .lis {
      height: 40px;
      display: flex;
      dl {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        dt {
          flex: 1.3;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            background-color: red;
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }
        }
        dd {
          flex: 3;
          height: 100%;
          display: flex;
          margin: 0;
          align-items: center;
        }
      }
    }
  }
  .signaContainer_right {
    z-index: 9;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 448px;
    display: flex;
    flex-direction: column;
    .title {
      height: 40px;
      font-size: 16px;
      padding: 0 15px;
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        padding: 4px 8px;
        border: 1px solid #057892;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .signaContainer_right_top {
      flex: 1;
      overflow: auto;
    }
    .signaContainer_right_bom {
      height: 280px;
      display: flex;
      background-color: rgba(2,24,61,.7);
      flex-direction: column;
      .signaRB_top {
        height: 40px;
        display: flex;
        div {
          flex: 1;
          font-size: 16px;
          background-color: #062551;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin: 0 1px;
          border: 1px solid #0f3358;
        }
      }
      .signaRB_bom {
        flex: 1;
      }
    }
  }
}
.active {
  color: #03d2e6;
}
.signaContainer_center {
  display: flex;
  :global(.ant-select-selection) {
    background-color: #041c40;
    border: 1px solid #063657;
    outline: none;
    color: #f1f1fb;
    box-shadow: none;
  }
  :global(.ant-select-arrow) {
    color: #f1f1fb;
  }
  :global(.ant-switch){
     background-color: rgba(218,220,233,.8)
  }
  :global(.ant-switch-checked) {
    background-color: #3daa3d;
  }
}