.InterWrapper {
    width: 100%;
    height: 100%;
    background: url(./evaBg.png) center center no-repeat;
    background-size: cover;
    .interContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 100px);
        display: flex;
        .interTreeBox {
            width: 400px;
            height: 100%;
            padding: 10px 0 0 30px;
            background-color: #02183D;
            .interSearch {
                display: flex;
                :global(.ant-select-selection) {
                    width: 100px;
                    background-color: #063657;
                    border: 1px solid #063657;
                    outline: none;
                    color: #F1F1FB;
                    box-shadow: none;
                }
                :global(.ant-select-arrow) {
                    color: #F1F1FB;
                }
                .searchBox {
                    position: relative;
                    .searchInput {
                        width: 200px;
                        height: 32px;
                        padding-left: 5px;
                        margin-left: 10px;
                        background-color: #063657;
                        border: 1px solid #063657;
                        border-radius: 4px;
                        outline: none;
                        color: #F1F1FB;
                    }
                    .searchIcon {
                        position: absolute;
                        right: 10px;
                        top: 8px;
                        font-size: 18px;
                        color: #07BDFB;
                        cursor: pointer;
                    }
                }
            }
            .interTree {
                height: 100%;
                overflow-y: auto;
            }
        }
        .interChartsMsg {
            flex: 1;
            height: 100%;
            padding: 10px 20px;
            overflow-y: auto;
            .interName {
                color: #07FDF4;
            }
        }
    }
}
:global(.ant-tree li .ant-tree-node-content-wrapper) {
    color: #fff;
}
// 重写antd的下拉框样式
// :global(.ant-select-dropdown) {
//     background-color: #063657;
// }
// :global(.ant-select-dropdown-menu-item) {
//     color: #F1F1FB;
// }