.phaseConfigBox {
    color: white;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    .editBox {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 40px);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,.4);
      .editDetails {
        position: relative;
        width: 60%;
        height: 100%;
        background-color: rgba(25,59,91, .8);
        .stageSelectMark {
          z-index: 1;
          position: absolute;
          width: 100%;
          height: calc(100% - 40px);
          top: 40px;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0,0,0,.5);
          .stageSelectBox {
            width: 70%;
            height: 200px;
            border-radius: 4px;
            background-color: rgba(25,59,91, .8);
            .stageTilte {
              height: 32px;
              line-height: 32px;
              padding-left: 10px;
              border-bottom: 1px solid #3B5268;
            }
            .stageContent {
              padding: 10px;
              height: 128px;
              overflow-y: auto;
              display: flex;
              .stageBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 5px;
                input {
                  width: 60px;
                  margin-top: 3px;
                  text-align: center;
                  outline: none;
                  background-color: transparent;
                  border: 1px solid #3B5268;
                  color: #f1f1fb;
                }
                .editStageBtn {
                  padding: 0 10px;
                  margin-top: 5px;
                  border-radius: 3px;
                  background-color: #12A4F1;
                  cursor: pointer;
                }
                .radioBtn {
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  margin-right: 5px;
                  border: 1px solid #12A4F1;
                  border-radius: 50%;
                  text-align: center;
                  line-height: 12px;
                  cursor: pointer;
                  .radioCheck {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background-color: #12A4F1;
                    border-radius: 50%;
                    transition: all .2s;
                  }
                }
              }
            }
            .stageAction {
              height: 40px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              .stageActionBtn {
                width: 70px;
                height: 26px;
                margin-right: 10px;
                text-align: center;
                line-height: 26px;
                border-radius: 3px;
                background-color: #12A4F1;
                cursor: pointer;
              }
            }
          }
        }
        .editTitle {
          position: relative;
          height: 40px;
          line-height: 40px;
          padding-left: 10px;
          margin-bottom: 20px;
          border-bottom: 1px solid #3B5268;
          .cloeEditIcon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            cursor: pointer;
            transition: all .2s;
            &:hover {
                transform: rotate(-180deg);
            }
          }
        }
        .editContent {
          display: flex;
          margin-bottom: 10px;
          .editItemsName {
            display: flex;
            width: 120px;
            padding-right: 10px;
            justify-content: flex-end;
            align-items: center;
          }
          .editItems {
            flex: 1;
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .phaseNo {
              width: 100%;
              text-align: center;
            }
            :global(.ant-checkbox) {
              color: #f1f1fb;
            }
            :global(.ant-checkbox-wrapper) {
              color: #f1f1fb;
            }
            .phaseSelBox {
              width: 100px;
            }
            input {
              width: 120px;
              background-color: transparent;
              border: 1px solid #3B5268;
              color: #f1f1fb;
            }
            .stageBox {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-right: 5px;
              input {
                width: 60px;
                margin-top: 3px;
                text-align: center;
                outline: none;
              }
              .editStageBtn {
                padding: 0 10px;
                margin-top: 5px;
                border-radius: 3px;
                background-color: #12A4F1;
                cursor: pointer;
              }
            }
          }
        }
        .editBtnBox {
          height: 30px;
          margin-top: 10px;
          padding-right: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .editBtn {
            width: 70px;
            height: 28px;
            margin-right: 20px;
            text-align: center;
            line-height: 28px;
            background-color: #12A4F1;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .messagePhase{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    left: 0;
    top: 0;
  }
  .messagePhaseBox{
    width: 540px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .messagePhaseBox_center{
      height: 55px;
      display: flex;
    }
  }
  .phaseConfigBox_top {
    color: #5f9fdc;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    .phaseConfigBoxTop_left {
      float: left;
      height: 100%;
      line-height: 45px;
    }
    .phaseConfigBoxTop_right {
      float: right;
      width: 20px;
      height: 20px;
      margin-top: 12px;
      text-align: center;
      line-height: 20px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: rotate(-180deg);
      }
    }
  }
  .phaseConfigBox_center {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    div {
      width: 70px;
      height: 26px;
      margin-right: 20px;
      text-align: center;
      line-height: 26px;
      background-color: rgb(34, 70, 122);
      color: #2cb3e3;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  .phaseConfigBox_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .mountingThead {
      font-size: 13px;
      height: 32px;
      background-color: #2B5391;
      color: #2cb3e3;
      display: flex;
    }
    .mountingTr {
      height: 40px;
      display: flex;
    }
    .mountingTh,
    .mountingTd {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mountingcar {
      flex: 3;
    }
    .deviceMsg {
      flex: 1;
      display: flex;
      color: #5F9FDC;;
      padding: 1px 5px;
      span {
        cursor: pointer;
        border-radius: 2px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .mountingTr:nth-child(odd) {
      background-color: rgba(14, 50, 98, 0.7)
    }
    .mountingTr:nth-child(even) {
      background-color: rgba(43, 83, 145, 0.7)
    }
    .mountingTbody {
      // height: calc(100% - 50px);
      flex: 1;
      overflow-y: auto;
    }
  }
  .confirmBox {
    background-color: rgba(25,59,91, .8);
    :global(.ant-modal-confirm-title) {
      color: #f1f1fb;
    }
  }
  