.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  color: #fff;
  font-size: 13px;
  color: #0cb4e5;
  z-index: 2;
  /* text-shadow: 2px 2px 2px #FF0000; */
  background: url(../imgs/navBg.png) center center no-repeat; // navBg 带有人民大道头
  background-size: 100% 100%;
  .navWrapper_left {
    width: 280px;
    height: 31px;
    line-height: 32px;
    text-align: center;
    margin-left: 32px;
    display: inline-block;
    span {
      margin-left: 17px;
    }
  }
  .navWrapper_right {
    width: 120px;
    height: 31px;
    line-height: 30px;
    float: right;
    svg {
      color: #fff;
      border: 1px blue solid;
      border-radius: 4px;
      font-size: 18px;
    }
    > span {
      width: 178px;
      height: 22px;
      display: inline-block;
      line-height: initial;
      border-radius: 30px;
      background: #022869;
      margin-right: 10px;
      input {
        background: #022869;
        border: none;
        outline: none;
        height: 22px;
        font-size: 12px;
        text-indent: 10px;
        border-radius: 30px;
        color: #0a6ca9;
      }
      span {
        vertical-align: sub;
        i:active {
          border: none;
        }
      }
    }
    button {
      width: 100px;
      height: 22px;
      background: #022869;
      color: #0a6ca9;
      border-radius: 30px;
      border: 1px solid #022869;
      border: none;
      .coverage_nav {
        width: 17px;
        height: 15px;
        background: url(../imgs/nav_icon_one.png) center center no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    .homepage {
      width: 86px;
      height: 22px;
      display: inline-block;
      background: #022869;
      line-height: 22px;
      border-radius: 30px;
      text-align: center;
      margin-left: 10px;
      cursor: pointer;
      i {
        width: 23px;
        height: 23px;
        display: inline-block;
        background: url(../imgs/nav_icon_two.png) center center no-repeat;
        vertical-align: middle;
      }
    }
  }
}
.searchNav {
  width: 178px;
  height: 22px;
  margin-right: 10px;
  display: inline-block;

  :global(.ant-select-selection--single) {
    height: 22px;
  }
  :global(.ant-select-selection__rendered) {
    line-height: 22px;
  }
  :global(.ant-select-selection) {
    border-radius: 30px;
    background: #022869;
    margin-right: 10px;
    border: none;
  }
  :global(.ant-select) {
    color: #fff;
  }
}

::input-placeholder {
  /* WebKit, Blink, Edge */
  color: #0a6ca9;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0a6ca9;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0a6ca9;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0a6ca9;
}
:global(.ant-select-dropdown) {
  text-align: center;
}
:global(.ant-select-dropdown-menu) {
  background: url(../imgs/selectBg.png) center center no-repeat;
  background-size: 100% 100%;
  padding: 3px 4px;
}
:global(.ant-select-dropdown-menu-item-selected) {
  background: url(../imgs/optionBg.png) center center no-repeat;
  background-size: 100% 100%;
  color: #07b7f2;
}
:global(.ant-select-dropdown li) {
  color: #ffffff;
  margin-top: 5px;
}
:global(.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled)) {
  background: url(../imgs/optionBg.png) center center no-repeat;
  background-size: 100% 100%;
  color: #07b7f2;
}
:global(.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled)) {
  background: url(../imgs/optionBg.png) center center no-repeat;
  background-size: 100% 100%;
  color: #07b7f2;
}
:global(.ant-modal-content) {
  background: #343a52;
}
:global(.ant-modal-confirm-body .ant-modal-confirm-title) {
  color: #dcdce6;
}

:global(.ant-select-dropdown-menu)::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
  border-radius: 10px;
  background: #1d67ac;
}
:global(.ant-dropdown ul li.ant-dropdown-menu-item) {
  color: #ffffff !important;
  width: 150px;
  height: 35px;
  background: url(../imgs/small.png) center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  margin: 5px 6px;
  line-height: 35px;
  padding: 0;
}
:global(.ant-dropdown ul .ant-dropdown-menu-item:hover) {
  color: #03edff !important;
}
:global(.ant-modal-content) {
  background: #343a52;
}
:global(.ant-modal-confirm-body .ant-modal-confirm-title) {
  color: #dcdce6;
}
:global(.ant-dropdown ul li.ant-dropdown-menu-item-active) {
  background: transparent;
}
:global(.ant-dropdown-menu) {
  background: #022869 !important;
}

:global(.ant-select-selection--multiple .ant-select-selection__rendered > ul > li) {
  height: 17px;
  margin-top: 3px;
  line-height: 17px;
  background: transparent;
  border: unset;
  color: #22f4ad;
}
:global(.ant-select-selection__rendered) {
  line-height: 22px;
}
:global(.ant-select-selection--multiple) {
  min-height: 22px;
  background: #022869;
  border-radius: 30px;
  color: #fff;
}
:global(.ant-select-selection) {
  border: none;
}
.optionY {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}
