.entranceWrapper {
    width: 100%;
    height: 100%;
    background: url(./enter_bg.png) center center no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .boolLight {
        position: relative;
        width: 1000px;
        height: 400px;
        background: url(./circle_bool.png) center center no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        margin-top: -40px;
        & > div {
            position: absolute;
            width: 150px;
            height: 130px;
            cursor: pointer;
            transition: all .2s;
        }
        .F {
            background: url(./consim.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .L {
            background: url(./coneva.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .B {
            background: url(./consure.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .R {
            background: url(./consys.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .moveLeft {
            z-index: 3;
            position: absolute;
            bottom: -95px;
            left: calc(50% + 110px);
            width: 90px;
            height: 70px;
            background: url(./left.png) center center no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
        }
        .moveRight {
            z-index: 3;
            position: absolute;
            bottom: -95px;
            left: calc(50% - 190px);
            width: 90px;
            height: 70px;
            background: url(./right.png) center center no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
        }
        
    }
}