.formBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pTop {
  height: 40px;
  font-size: 16px;
  padding-left: 20px;
  line-height: 40px;
  background: linear-gradient(to bottom, #02183d 0%, #06234f 100%);
}
.mountingManage {
  height: 100%;
  padding: 0 10px;
  .mountingTable {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    .mountingThead {
      height: 26px;
      color: #95edf4;
      display: flex;
    }
    .mountingTr {
      height: 26px;
      display: flex;
    }
    .mountingThead {
      background-color: rgba(14, 28, 63, 0.7);
    }
    .mountingTh,
    .mountingTd {
      flex: 1;
      text-align: center;
      line-height: 26px;
    }
    .mountingTd {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .deviceMsg {
      margin-right: 20px;
      color: #07a8ff;
    }
    .mountingTr:nth-child(odd) {
      background-color: rgba(14, 50, 98, 0.7);
    }
    .mountingTr:nth-child(even) {
      background-color: rgba(14, 28, 63, 0.7);
    }
    .mountingTbody {
      // flex: 1;
      height: calc(100% - 66px);
      overflow-y: auto;
    }
  }
}
